@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли!</h1>
    <p>Vigant е място, където можете да срещнете и общувате с хора, които имат същите интереси като вас и желаят да се развиват!</p>
</div>
