@{
    ViewData["Title"] = "Интереси";
}

<div class="card-columns">
    <div class="card projectAnimated">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title">Програмиране</h5>
            <p class="card-text">Това е група за хора, които се занимават с програмиране</p>
            <a href="/Interest/Interest?id=1" class="btn btn-primary w-100">Повече информация</a>
        </div>
    </div>
    <div class="card projectAnimated">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title">Графичен дизайн</h5>
            <p class="card-text">Това е група за хора, които се занимават с графичен дизайн</p>
            <a href="/Interest/Interest?id=2" class="btn btn-primary w-100">Повече информация</a>
        </div>
    </div>
    <div class="card projectAnimated">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title">Астрономия</h5>
            <p class="card-text">Това е група за хора, които се занимават с астрономия</p>
            <a href="/Interest/Interest?id=3" class="btn btn-primary w-100">Повече информация</a>
        </div>
    </div>
    <div class="card projectAnimated">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title">Фотография</h5>
            <p class="card-text">Това е група за хора, които се занимават с фотография</p>
            <a href="/Interest/Interest?id=4" class="btn btn-primary w-100">Повече информация</a>
        </div>
    </div>
</div>