@model IEnumerable<Vigant.ViewModels.InterestViewModel> 
@{
    ViewData["Title"] = "Интереси";
}

<div class="card-columns">
    @foreach (var interest in Model)
     {
        <div class="card projectAnimated">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">@interest.Name</h5>
                <p class="card-text">@interest.Description</p>
                <a href="/Interest/@interest.Id" class="btn btn-primary w-100">Повече информация</a>
            </div>
        </div>
     }
</div>